/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin:0;
  outline: 0;
  border: 0;
}

:root {
  --background-color: #CCCEFD;
  --secondary-bg-color: pink;
  --tertiary-bg-color: #F6D47F;
  --main-color: white;
  --active-color: rgb(112, 6, 55);
  --main-font: Karla;
  --font-fallback: Helvetica;
  --font-fallback2: Arial;
  --font-fallback3: sans-serif;
  --font-weight: 300;
}

/*GENERAL STYLES*/

body {
  background-color: var(--background-color);
  text-align: center;
  font-family: var(--main-font), var(--font-fallback), var(--font-fallback2), var(--font-fallback3);
}

img {
  width: 100%;
}

h1 {
  font-weight: var(--font-weight);
  font-size: 2em;
}


/* Wat er in de header staat is voor die gehele heade, h1 & img zijn specifiek omdat die styling daarin moet passen */
/* Header with announcement & logo */
header {
  font-weight: 300;
  font-size: 0.35em;
  letter-spacing: 2px;
  line-height: 4em;

}

header h1 {
  background-color: #AEBC77;
  color: var(--main-color);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.5em;

}

header img {
  width: 20em;
  position: absolute;
  top: 10em;
  left: calc(50% - 10em);
}

/* article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

} */

article h2 {
  font-weight: var(--font-weight);
  font-size: 1.6em;
  color: var(--main-color);
  margin-bottom: 1em;
}

/* Button 'Shop now' */
article a {
  text-decoration: none;
  font-weight: var(--font-weight);

  background-color: var(--main-color);
  color: black;

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
}

nav {
  position: fixed;
  bottom: 3em;
  z-index: 90;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-bg-color);
  border-radius: 10%;
}

nav button {
  font-size: 1.2em;
  letter-spacing: 0.7em;
  font-family: var(--main-font), var(--font-fallback) var(--font-fallback2), var(--font-fallback3);
  color: var(--main-color);
  padding: 0.7em;
  padding-left: 4em;
  padding-right: 4em;
  background-color: var(--tertiary-bg-color);
}

nav ul {
  overflow: hidden;
  height: 0;
}

ul {
  color: var(--main-color);

}

ul.isopen {
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

aside {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--main-color);
  background-color: var(--tertiary-bg-color);
}


/*CLASSES*/

/*Section voor background, waarin header, article, nav & scroll ding in staat*/
.landing {
  background-image: url("/images/flowers.jpg"); /*DEZE IS NIET TE ZIEN OP ANDERE PCS EN OOK DE IMG CLOUDS IN HTML*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.landing article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

/*css shoppagina*/
.landing header h2 {
  color: var(--main-color);

  font-size: 6em;
  font-family: var(--main-font), var(--font-fallback), var(--font-fallback2), var(--font-fallback3);
  font-weight: var(--font-weight);

  margin-top: -7em;
}

/*COLLECTION*/
/*position relative/absolute zorgt ervoor dat hij bij de .landing gaat*/
.collection {
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  padding-bottom: 3em;
}

.collection > h2 {
  padding: 2em;
}


.collection ul {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;

}

.collection ul li {
  position: relative;
}

.collection ul li a:hover {
  color: black;
}

.collection img {
  position: relative;
  width: 10em;
}

/*HOW DO I GET THE TEXT IN THE MIDDLE*/

.collection a {
  color: var(--main-color);
  position: absolute;
  /* margin-left: -10em; */
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}


/*NEWSLETTER*/
.newsletter {
  color: var(--main-color);
  background-color: rgb(255, 191, 166);
  padding: 2em;
}

.newsletter h2 {
  padding: 2em 2em 0.5em 2em;
}

.newsletter p {
  margin-bottom: 1em;
}

input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 3em;

}

/*selecteren placeholder text om kleur te geven*/
::placeholder {
  color: var(--main-color);
}

.process {
  color: var(--main-color);
  margin: 4em;

  position: relative;
}

.process img:first-of-type {
  position: absolute;
  width: 60%;
  top: 3em;
  left: 0;
}

.process img:nth-of-type(2) {
  margin-left: 7em;
  margin-bottom: 3em;
  width: 60%;
}

.process h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.process p {
  margin-bottom: 2em;
}

.process a {
  text-decoration: none;
  font-weight: var(--font-weight);

  background-color: var(--tertiary-bg-color); /*same as the bgcolor*/
  color: white;

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
  margin-top: 20em;

}


/*QUOTE MARZIA*/
.quote {
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  
  padding-top: 3em;
  padding-bottom: 3em;
}

.quote img {
  width: 20em;
}

.quote blockquote {
  font-size: 2em;
  font-weight: var(--font-weight);

  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.quote p {
  margin-bottom: 2em;
}

.quote a {
  text-decoration: none;
  background-color: var(--main-color);
  color:var(--secondary-bg-color);

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
  margin-top: 20em;
}


/*RANDOM GREEN BOI PIC*/
.greenboi {
  margin: 0;
}

.greenboi img {
  width: 100%;
}



/*FEATURED IMG*/
.featured  {
  color: var(--main-color);
}


.featured p {
  margin-bottom: 2em;
}


.featured article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; /*makes images not stretch*/
  gap: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  overflow: scroll;
}

.featured img {
  width: 15em;
  border: 0.2em solid white;
  border-bottom: 5em solid white;
}

.featured .clouds {
  border: none;
  width: 10%;
}




/*FOOTER*/

footer {
  color: var(--main-color);

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2em;
  margin-bottom: 5em;
}

footer a {
  text-decoration: none;
  font-weight: var(--font-weight);
  font-size: 0.75em;
  color: var(--main-color);
}


/*STYLES FOR STATES*/
article > a:active {
  background-color: var(--active-color);
  color: var(--main-color);
}

a:focus {
  border: solid olive;
}

input:focus {
  opacity: 50%;
}
