/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  outline: 0;
  border: 0;
}

/*Document staat op volgorde van html*/

:root {
  --background-color: #888bda;
  --secondary-bg-color: rgb(209, 124, 139);
  --tertiary-bg-color: #F5D47F;
  --quarternary-bg-color: rgb(185, 97, 62);
  --announcement-color: #718d01;
  --menu-color: rgb(221, 147, 49);
  --main-color: white;
  --active-color: rgb(112, 6, 55);
  --text-color2: #6d222f;

  --main-font: Karla;
  --font-fallback: Helvetica;
  --font-fallback2: Arial;
  --font-fallback3: sans-serif;
  --font-weight: 300;
}

.darkmode {
  --background-color: #48445e;
  --secondary-bg-color: rgb(80, 26, 26);
  --tertiary-bg-color: #293238;
  --quarternary-bg-color: rgb(134, 60, 60);
  --announcement-color: #425009;
  --menu-color: rgb(177, 122, 51);
  --main-color: #d8d8d8;
  --active-color: #a0385c; 
  --text-color2: #e6b892;
  }


/*GENERAL STYLES*/

body {
  background-color: var(--background-color);
  text-align: center;
  font-family: var(--main-font), var(--font-fallback), var(--font-fallback2), var(--font-fallback3);
  color: var(--main-color);
}

img {
  width: 100%;
}

h1 {
  font-weight: var(--font-weight);
  font-size: 2em;
}

p {
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;

  /*animatie*/
  transition: all 0.5s ease-in-out;
}

/*States of links*/
a:focus {
  border: 0.2em solid olive;
  background-color: rgb(70, 5, 8);
  color: var(--main-color);
}

a:hover {
  background-color: rgb(70, 5, 8);
  color: var(--main-color);
}

/* Wat er in de header staat is voor die gehele header, h1 & img zijn specifiek omdat die styling daarin moet passen */
/* Header with announcement & logo */
header {
  font-weight: 300;
  font-size: 0.35em;
  letter-spacing: 2px;
  line-height: 4em;

}

/*announcement*/
header h1 {
  background-color: var(--announcement-color);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.5em;

}

/*mai logo pic*/
header img {
  width: 20em;
  position: absolute;
  top: 10em;
  left: calc(50% - 10em);
}

/*H2: Handmade creations with character*/
article h2 {
  font-weight: var(--font-weight);
  font-size: 1.6em;
  margin-bottom: 1em;
}

/* Button 'Shop now' */
article a {
  text-decoration: none;
  font-weight: var(--font-weight);

  background-color: var(--main-color);
  color: black;

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
}

/*article links state*/
article > a:active {
  background-color: var(--active-color);
  color: var(--main-color);
}


/*NAVIGATION*/

nav {
  position: fixed;
  bottom: 3em;
  z-index: 90;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--menu-color); 
  overflow: hidden; /*voor ronde border wanneer open*/
}

/*button voor navigatie*/
nav button {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-family: var(--main-font), var(--font-fallback) var(--font-fallback2), var(--font-fallback3);
  padding: 0.7em;
  padding-left: 4em;
  padding-right: 4em;
  color: #B9613E;
  background-color: var(--tertiary-bg-color);
  cursor: pointer;
}

/*links in nav*/
nav ul {
  overflow: hidden;
  height: 0;
}

/*voor js*/
ul.isopen {
  height: auto;
}

/*list styling*/
li {
  list-style-type: none;
  margin: 1em;
}

li > a {
  color: var(--main-color);
}

/*States Buttons*/
button:hover {
  background-color: var(--menu-color);
  color: var(--main-color);
  transition: 0.5s ease-in-out;
}

button:focus {
  background-color: var(--menu-color);
  color: var(--main-color);
}


/*fade in animations (voor js)*/
section {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

section.appear {
  opacity: 1;
}


/* Aside voor scroll ding */
aside {
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.3em;
  background-color: var(--tertiary-bg-color);
  color: var(--text-color2);
}

aside p {
  white-space: nowrap; /*blijft naast elkaar in een lijn*/
  animation-name: slider;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*keyframes for scroll slider*/
@keyframes slider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* FOOTER */

footer {
  color: var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2em;
  margin: 10em 5em 10em 5em;
}

footer img {
  width: 4em;
}

footer section {
  display: flex;
  gap: 2em;
  flex-flow: row-wrap;
}

footer a {
  text-decoration: none;
  font-weight: var(--font-weight);
  font-size: 0.75em;
  color: var(--main-color);
  background-color: transparent;
}

footer a:hover {
  color: var(--text-color2);
  background: transparent;
  border-bottom: .1em solid var(--text-color2);
}



/*CLASSES*/

/*Section voor background, waarin header, article, nav & aside in staat*/

#index .landing {
  background-image: url("../images/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.landing {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*DARK MODE BUTTON*/

.landing button > img {
  width: 3.5em;
  position: fixed;
  top: 3.5em;
  right: 2em;
  z-index: 99;
  background-color: var(--quarternary-bg-color);
  padding: 0.4em;
  border-radius: 20%;
  border: 0.2em solid var(--main-color);
  cursor: pointer;
}

/* 'Handmade creations with character' with a link on index.html */
.landing article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

/*css shoppagina: header h2 'Made by Marzia'*/
.landing header h2 {
  font-size: 6em;
  font-family: var(--main-font), var(--font-fallback), var(--font-fallback2), var(--font-fallback3);
  font-weight: var(--font-weight);

  margin-top: -7em;
}



/*COLLECTION*/

/*Section waar verschillende links naar andere pagina's staan*/
.collection {
  background-color: var(--secondary-bg-color);
  padding-bottom: 3em;
}

/*titel: collection*/
.collection > h2 {
  padding: 2em;
}

/*links met afbeeldingen*/
.collection ul {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

/*zorgt ervoor dat de tekst in het midden van de afbeeldingen blijft*/
.collection ul li {
  position: relative;
}

/*for animations in collection*/
.collection ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  border-radius: 2em;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.4; /*zodat de overlay er al een beetje is*/
  transition: all 1s;
}

.collection ul li:hover::after {
  opacity: 1;
}

.collection img {
  position: relative;
  width: 10em;
  border-radius: 2em;
}

.collection a {
  color: var(--main-color);
  position: absolute; /*zorgt voor 'grid-view' van de collectie*/
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

/*hover animation*/
.collection a:hover {
  background-color: transparent; /*to not get the purple hover styling*/
  font-size: 1.2em;
  border: none;
  border-bottom: 0.2em solid var(--main-color);
}

.collection a:focus {
  border: none;
  font-size: 1.2em;
  background: transparent ;
  border-bottom: 0.2em solid var(--main-color);
}




/*NEWSLETTER*/

/*section*/
.newsletter {
  background-color: var(--quarternary-bg-color);
  padding: 2em;
}

/*Sign up!*/
.newsletter h2 {
  padding: 2em 2em 0.5em 2em;
}

/*We'll keep you up to date*/
.newsletter p {
  margin-bottom: 1em;
}

/*form*/
input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 3em;
  caret-color: var(--main-color); /*voor typing indicator*/
}

/*form state*/
input:focus {
  opacity: 50%;
}

/*selecteren placeholder text om kleur te geven*/
::placeholder {
  color: var(--main-color);
}


/*SUBMITTED.HTML*/

/*section*/
.submitted {
  font-family: var(--main-font), var(--font-fallback), var(--font-fallback2);
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*home button link*/
.submitted a {
  text-decoration: none;
  font-weight: var(--font-weight);
  font-size: .5em;

  background-color: var(--main-color); /*same as the bgcolor*/
  color: var(--background-color);

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
  margin-top: 2em;

  transition: .5s ease-in-out;
}

/*states*/
.submitted a:hover {
  background-color: rgb(70, 5, 8);
}


/*PROCESS SECTION*/

/*section*/
.process {
  color: var(--main-color);
  margin: 4em;

  position: relative;
}

/*position images over each other*/
.process img:first-of-type {
  position: absolute;
  width: 60%;
  top: 3em;
  left: 0;
}

.process img:nth-of-type(2) {
  margin-left: 7em;
  margin-bottom: 3em;
  width: 60%;
}

/*From the first idea to a small-batch*/
.process h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*Our entire process...thoughtful craft.*/
.process p {
  margin-bottom: 2em;
}

/*link to 'Our Process' page*/
.process a {
  text-decoration: none;
  font-weight: var(--font-weight);

  background-color: var(--main-color); /*same as the bgcolor*/
  color: var(--background-color);

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
  margin-top: 20em;

}

/*states a*/
.process a:focus {
  border: 0.2em solid olive;
  background-color: rgb(70, 5, 8);
  color: var(--main-color);
}

.process a:hover {
  background-color: rgb(70, 5, 8);
  color: var(--main-color);
}



/*QUOTE MARZIA*/

/*section*/
.quote {
  background-color: var(--secondary-bg-color);
  
  padding-top: 3em;
  padding-bottom: 3em;
}

/*image of Marzia*/
.quote img {
  width: 70%;
}

/*Marzia's quote*/
.quote blockquote {
  font-size: 2em;
  font-weight: var(--font-weight);

  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
}

/* 'Founder - Marzia Kjellberg' */
.quote p {
  margin-bottom: 2em;
}

/*Link to 'About the Brand'*/
.quote a {
  text-decoration: none;
  background-color: var(--main-color);
  color:var(--secondary-bg-color);

  padding: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  border-radius: 2em;
  margin-top: 20em;
}

.quote a:focus {
  border: 0.2em solid olive;
  background-color: rgb(70, 5, 8);
  color: var(--main-color);
}

.quote a:hover {
  background-color: var(--quarternary-bg-color);
  color: var(--main-color);
}


/*RANDOM GREEN BOI PIC*/

.greenboi {
  margin: 0;
}

.greenboi img {
  width: 100%;
}



/*FEATURED IMG OF PEOPLE REVIEWING*/

/*section met article: waar alle figures in staan*/
.featured article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  margin: 2em;

  gap: 2em;
}

/*Welcome home + p*/
.featuredheading {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 5em;
  margin-bottom: 1em;
}

/*cloud images*/
.featuredheading img {
  width: 2em;
}

/*figures voor elke foto met polaroid pictures*/
figure {
  width: 20em;
  border: 1px solid var(--main-color);
  padding: 0.1em 0.1em 2em 0.1em;
  margin: 1em;
  background-color:var(--main-color);
}

/*images*/
figure img {
  width: 18em;
}

/*captions*/
figcaption {
  text-align: left;
  color: black;
}

/*first word styling*/
span {
  font-weight: bold;
}



/*SHOPPING PAGE - MADE BY MARZIA*/

/*Section met header, form & nav*/
#shoppingpage .landing {
  margin-bottom: 10em;
}

/*'Made by Marzia'*/
.landing header > h2 {
  margin-top: 5em;
  font-weight: 400;
}

/* filter for shopping page */
#shoppingpage form {
  position: absolute;
  top: 16em;
  border-bottom: .15em solid var(--main-color);
  padding-bottom: .5em;
}

/* filter */
#sortby {
  font-size: 1.2em;
  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
}

/*color of text for options*/
#sortby option {
  color: black;
}

/*section in main with articles*/
.shop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  
}

/*products*/
.shop article {
  max-width: 30em;
}

/*links to products*/
.shop article a {
  background: none;
  transition: none;
  border: none;
  border-radius: none;
  padding: 0;
}

.shop article a > img {
  transition: 0.5s ease-in-out;
}

.shop article a > img:hover {
  border: 0.5em solid white;
}

/*Titles of products*/
.shop h3 {
  margin-top: 1em;
}

/*Price*/
.shop p {
  margin-top: .5em;
}



/*LOADER*/

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /*on top of everything else and always in the middle*/
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);

  animation: fadeOut 5s linear;
  pointer-events: none; /*makes it clickable*/
}

.loader.hidden {
  animation: fadeOut 5s;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader img {
  width: 20em;
}


/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: rgb(216, 182, 193);
  border-collapse: separate;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(70, 5, 8);

}


